@import 'variables';

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $blue;
    height: 70px;
}

.header_titleName,
.header_backIcon,
.header_userIcon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_titleName {
    text-align: center;
    width: 50%;
    font-size: 1rem;
    color: $light;
}

.header_backIcon,
.header_userIcon {
    width: 20%;
}

.header_backIcon_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .2s all;
}

.header_backIcon_btn:hover{
    opacity: 70%;
}

.header_backIcon_btn:active{
    opacity: 50%;
}