@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #457B9D;
  height: 70px;
}

.header_titleName,
.header_backIcon,
.header_userIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_titleName {
  text-align: center;
  width: 50%;
  font-size: 1rem;
  color: #F1FAEE;
}

.header_backIcon,
.header_userIcon {
  width: 20%;
}

.header_backIcon_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s all;
}

.header_backIcon_btn:hover {
  opacity: 70%;
}

.header_backIcon_btn:active {
  opacity: 50%;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #457B9D;
  height: 70px;
}

/* @import '../../../public/images/MangaTile/mainImg.png'; */
.mangaTilePage {
  margin: 0 auto;
  background-color: black;
}

.contentContainer {
  padding: 38px 19px;
  height: 612px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}

.innerWrapper {
  height: 325px;
  background-color: #14213D;
  border-radius: 8px;
  padding: 160px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.mainImg {
  margin: auto;
  left: 0;
  right: 0;
  height: 250px;
  width: 250px;
  position: absolute;
  z-index: 1;
  top: 38px;
  border-radius: 6px 6px 0 0;
}

.mainImg_wrapper_img {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
  background-image: "mainImg.png";
}

.mainImg_wrapper {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 1;
}

/* .year-rating,
.restr-vol,
.statuses{
    height: 10%;
    background-color: rgb(187, 160, 160);
    z-index: 999;
    top: 1px;
}

.year-rating,
.restr-vol{

}

 */
.mainBtnPanel {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.mainBtnPanel button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  color: #457B9D;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s all;
}

/* .mainBtnPanel button::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 4px;
    background-color: #f0f4f6;
    bottom: -5px;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .2s ease-in-out;
}
 */
.mainBtnPanel button:hover {
  color: #F1FAEE;
}

.discussion {
  position: relative;
  padding: 12px 0;
  border-top: 2px solid #457B9D;
  height: 120px;
  width: 280px;
}
.discussion_addCommentBtn {
  border: none;
  position: absolute;
  top: -11px;
  margin: auto;
  left: 0;
  right: 0;
  background-color: #14213D;
  border-radius: 100%;
  height: 20px;
  width: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
* {
  font-family: "Montserrat", sans-serif;
}/*# sourceMappingURL=General.css.map */